body {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #a0cbba;
}

.calculator {
  --border-radius: 25px;

  width: 420px;
  margin: 100px auto;
}

.display {
  text-align: right;
  padding: 50px 30px 0 30px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: #212b41;
  color: #11b387;
  font-size: 96px;
}

.buttons {
  padding: 30px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: #2e3951;

  display: grid;
  grid-template-columns: repeat(4, 64px);
  row-gap: 35px;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #95a79f;
  background-color: #2e3951;
  padding: 2px 2px 4px 2px;
  border: none;
  border-radius: 50px;
  font-size: 40px;
  transition: color 0.25s, background-color 0.25s;
}

button:not(.operator, .cta):hover {
  color: #dde9e3;
}

button.operator {
  background-color: #212b41;
  color: #18d4a3;
}

button.operator:hover {
  background-color: #192131;
}

button.operator.selected {
  outline: 1px solid #18d4a3;
}

button.cta {
  background-color: #18d4a3;
  color: #212b41;
}

button.cta:hover {
  background-color: #00a97c;
}