body {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #a0cbba;
}

.calculator {
  --border-radius: 25px;
  --color-green: #18d4a3;
  --color-slate: #212b41;
  --color-slate-light: #2e3951;

  width: 420px;
  margin: 100px auto;
  box-shadow: 2px 2px 6px var(--color-slate-light);
  border-radius: 25px;
}

.display-container {
  min-height: 140px;
  text-align: right;
  padding: 50px 0 20px 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--color-slate);
  color: #11b387;
  font-size: 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  margin-inline: 30px;
  white-space: nowrap;
  line-height: 1;
}

.buttons {
  padding: 30px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--color-slate-light);

  display: grid;
  grid-template-columns: repeat(4, 64px);
  row-gap: 35px;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #95a79f;
  background-color: var(--color-slate-light);
  padding: 2px 2px 4px 2px;
  border: none;
  border-radius: 50px;
  font-size: 40px;
  transition: color 0.25s, background-color 0.25s;
}

button:not(.operator, .cta):hover {
  color: #dde9e3;
}

button.operator {
  background-color: var(--color-slate);
  color: var(--color-green);
}

button.operator:hover, button.operator.selected {
  background-color: #192131;
}

button.cta {
  background-color: var(--color-green);
  color: var(--color-slate);
}

button.cta:hover {
  background-color: #00a97c;
}